<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sign In</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="onSignIn()">
              <!-- Email Input -->
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" [(ngModel)]="email" name="email" required maxlength="100"></ion-input>
              </ion-item>

              <!-- Password Input -->
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password" required maxlength="20"></ion-input>
              </ion-item>

              <!-- Sign In Button -->
              <ion-button expand="full" type="submit">Sign In</ion-button>
            </form>

            <!-- Sign Up Link -->
            <ion-item lines="none">
              <ion-label>Don't have an account?</ion-label>
              <ion-button fill="clear" routerLink="/auth/signup">Sign Up</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>