<ion-app>
  <!-- 사이드 메뉴 설정 -->
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/auth">SignIn & SignUp</ion-item>
        <ion-item routerLink="/articles">Article List</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- 메인 콘텐츠 설정 -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Board App
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>